<div class="row mb-1 me-0 custom-border">

  <!--  Date-->
  <div class="col-md-3 border-right my-1">
    <div class="row text-center">
      <div class="col-md-11">Code Article</div>
    </div>
  </div>
  <!-- Quantité -->
  <div class="col-md-3 border-right my-1">
    <div class="row">
      <div class="col-md-12 text-center">
        Désignation article
      </div>
    </div>
  </div>
  <!-- Quantité -->
  <div class="col-md-2 border-right my-1">
    <div class="row">
      <div class="col-md-12 text-center">
        6
      </div>
    </div>
  </div>
  <!-- Quantité -->
  <div class="col-md-2 border-right my-1">
    <div class="row">
      <div class="col-md-12 text-center">
        12,3€
      </div>
    </div>
  </div>
  <!--  Boutons action-->
  <div class="col-md-2 my-1 text-center">
    <div class="row">
      73,8€
    </div>
  </div>
</div>

