<div class="main-container">
  <div class="row min-height-600 no-flex-wrap">
    <div class="card col-md-2 me-2">
      menu left
    </div>
    <div class="card col-md-10 px-0 background-grey border-none">
      <div class="col px-0 d-flex flex-column justify-content-between">
        <div class="card min-height-80 mb-2">
          header
        </div>
        <div class="card mb-2">
          main content
        </div>
        <div class="card min-height-80">
          footer
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
