<div class="row mb-1 me-0 custom-border">
  <div class="col-md-1 border-right p-1 text-center my-1">
    <img src="favicon.ico" alt="r" width="100px" height="100px">
  </div>

  <!--  Details client/frs-->
  <div class="col-md-5 border-right my-1">
    <div class="col">
      <div class="row">
        <div class="col-md-1"><i class="fa-solid fa-circle-info blue-color"></i></div>
        <div class="col-md-11">{{clientFournisseur.nom}}</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fa-solid fa-circle-info blue-color"></i></div>
        <div class="col-md-11">{{clientFournisseur.prenom}}</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fa-solid fa-phone blue-color"></i></div>
        <div class="col-md-11">{{clientFournisseur.numTel}}</div>
      </div>
    </div>
  </div>
  <!--  Details catégorie-->
  <div class="col-md-3 border-right my-1">
    <div class="col">
      <div class="row">
        <div class="col-md-1"><i class="fa-solid fa-home blue-color"></i></div>
        <div class="col-md-11">{{clientFournisseur.adresse?.adresse1 + ' ' + clientFournisseur.adresse?.adresse2}}</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fa-solid fa-map-marked-alt blue-color"></i></div>
        <div class="col-md-11">{{clientFournisseur.adresse?.codePostal + ' ' + clientFournisseur.adresse?.ville}}</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fa-solid fa-globe-europe blue-color"></i></div>
        <div class="col-md-11">{{clientFournisseur.adresse?.pays}}</div>
      </div>
    </div>
  </div>

  <!--  Boutons action-->
  <div class="col-md-3 my-1">
    <div class="row">
      <div class="col-md-4">
        <button type="button" class="btn btn-link row" (click)="modifierClientFournisseur()">
          <i class="fa-solid fa-pencil"></i>
          Modifier
        </button>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-link row text-danger" data-bs-toggle="modal"
                [attr.data-bs-target]="'#modalDeleteCltFrs' + clientFournisseur.id">
          <i class="fa-solid fa-trash"></i>
          Supprimer
        </button>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-link row">
          <i class="fa-solid fa-list"></i>
          Details
        </button>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="modalDeleteCltFrs{{clientFournisseur.id}}" data-bs-backdrop="static"
       data-bs-keyboard="false"
       tabindex="-1"
       aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Confirmation</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Etes-vous sur de vouloir supprimer ce {{origin}} ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            <i class="fa-solid fa-ban"></i>
            Annuler
          </button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="confirmerEtSupprimer()">
            <i class="fa-solid fa-trash"></i>
            Supprimer
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
