<div class="col">

  <div class="row m-3">
    <div class="col-md-8 px-0">
      <h1>Liste des catégories</h1>
    </div>
    <div class="col-md-4 text-end">
      <app-boutons-action
        (clickEvent)="nouvelleCategorie()"
      ></app-boutons-action>
    </div>
  </div>

  <div class="col m-3">
    <div class="row custom-border mb-3 p-3" *ngFor="let cat of listCategories">
      <div class="col-md-3 border-right">
        {{cat.code}}
      </div>
      <div class="col-md-3">
        {{cat.designation}}
      </div>
    </div>
  </div>

  <div class="row text-center mb-3" *ngIf="listCategories.length > 0">
    <app-pagination></app-pagination>
  </div>

</div>

