<div class="col mb-3">
  <div class="col-md-12 my-3 px-5">
    <img src="favicon.ico" class="rounded-circle" width="200px" height="200px">
  </div>
  <hr/>
  <div class="col-md-12 px-5">
    <div class="col-md-12 mb-3">
      <h2>
        <i class="fa-solid fa-circle-info blue-color"></i>&nbsp;
        Information de l'article
      </h2>
    </div>
    <div class="col-md-12">
      <div class="alert alert-danger" *ngIf="errorMsg.length > 0">
        <div *ngFor="let msg of errorMsg">
          <span>{{msg}}</span>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <input type="text" class="form-control" name="codearticle" placeholder="Code Article"
                 aria-label="Code Article" [(ngModel)]="articleDto.codeArticle">
        </div>
        <div class="col">
          <input type="text" class="form-control" name="designation" placeholder="Designation" aria-label="Designation"
                 [(ngModel)]="articleDto.designation">
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <input type="text" class="form-control" name="prixunitaireht" placeholder="Prix unitaire HT"
                 aria-label="Prix unitaire HT" [(ngModel)]="articleDto.prixUnitaireHt">
        </div>
        <div class="col">
          <input type="text" class="form-control" name="tauxtva" placeholder="Taux TVA" aria-label="Taux TVA"
                 [(ngModel)]="articleDto.tauxTva">
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <input type="text" class="form-control" name="prixunitairettc" placeholder="Prix unitaire TTC"
                 aria-label="Prix unitaire TTC" [(ngModel)]="articleDto.prixUnitaireTtc">
        </div>
        <div class="col">
          <select class="form-control" name="cat" [(ngModel)]="categorieDto.id">
            <option [value]="null">Selectionner une catégorie</option>
            <option *ngFor="let cat of listeCategorie" [value]="cat.id">{{cat.code}} - {{cat.designation}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 text-end px-5">
    <button class="btn btn-danger me-3" (click)="cancel()">
      <i class="fa-solid fa-ban"></i>&nbsp;
      Annuler
    </button>
    <button class="btn btn-primary" (click)="enregistrerArticle()">
      <i class="fa-solid fa-save"></i>&nbsp;
      Enregistrer
    </button>
  </div>

</div>
