<div class="col mb-3">
  <div class="col-md-12 mb-3 px-5">
    <img src="favicon.ico" class="rounded-circle" width="200px" height="200px">
  </div>
  <hr/>
  <div class="col-md-12 px-5">
    <div class="col-md-12 mb-3">
      <h2>
        <i class="fa-solid fa-circle-info blue-color"></i>&nbsp;
        Information de l'utilisateur
      </h2>
    </div>
    <div class="col-md-12">
      <div class="row mb-3">
        <div class="col">
          <input type="text" class="form-control" placeholder="Nom">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Adresse 1">
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <input type="text" class="form-control" placeholder="Prénom">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Adresse 2">
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <input type="text" class="form-control" placeholder="E-mail">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Ville">
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <input type="text" class="form-control" placeholder="Téléphone">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Code Postal">
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          &nbsp;
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Pays">
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 text-end px-5">
    <button class="btn btn-danger me-3" (click)="cancel()">
      <i class="fa-solid fa-ban"></i>&nbsp;
      Annuler
    </button>
    <button class="btn btn-primary">
      <i class="fa-solid fa-save"></i>&nbsp;
      Enregistrer
    </button>
  </div>

</div>


