<div class="row m-3">
  <div class="card col-md-4 text-center me-3">
    <div class="col">
      <div class="my-3">
        <img src="favicon.ico" class="rounded-circle" width="200px" height="200px">
      </div>
      <div class="mb-3">
        <h2>Nom Prénom</h2>
        <small class="form-text text-muted">Adresse, ville, 12345</small>
      </div>
    </div>
  </div>
  <div class="card col-md-7">
    <form class="mt-3">
      <div class="mb-3">
        <input type="email" class="form-control" placeholder="Ancien mot de passe">
      </div>
      <div class="mb-3">
        <input type="password" class="form-control" placeholder="Nouveau mot de passe">
      </div>
      <div class="mb-3">
        <input type="password" class="form-control" placeholder="Confirmer mot de passe">
      </div>
    </form>
    <div class="row">
      <div class="col-md-12 text-end">
        <button class="btn btn-danger me-3" (click)="cancel()">
          <i class="fa-solid fa-ban"></i>&nbsp;
          Annuler
        </button>
        <button class="btn btn-primary">
          <i class="fa-solid fa-save"></i>&nbsp;
          Enregistrer
        </button>
      </div>
    </div>
  </div>
</div>


