<div class="row mb-1 me-0 custom-border">

  <!--  Date-->
  <div class="col-md-3 border-right my-1">
    <div class="row text-center">
      <div class="col-md-11">12.12.2012</div>
    </div>
  </div>
  <!-- Quantité -->
  <div class="col-md-3 border-right my-1">
    <div class="row">
      <div class="col-md-12 text-center">
        <h5>139</h5>
      </div>
    </div>
  </div>
  <!-- Quantité -->
  <div class="col-md-3 border-right my-1">
    <div class="row">
      <div class="col-md-12 text-center">
        <h5>SORTIE</h5>
      </div>
    </div>
  </div>
  <!--  Boutons action-->
  <div class="col-md-3 my-1 text-center">
    <div class="row">
      <h5>COMMANDE_CLIENT</h5>
    </div>
  </div>
</div>
