<div class="col mb-3">
  <div class="col-md-12 px-5">
    <div class="col-md-12 mb-3 mt-3">
      <h2>
        Nouvelle catégorie
      </h2>
    </div>
    <div class="col-md-12">
      <div class="alert alert-danger" *ngIf="errorMsg.length > 0">
        <div *ngFor="let msg of errorMsg">
          <span>{{msg}}</span>
        </div>
      </div>
      <form>
        <div class="row mb-3">
          <div class="col">
            <input type="text" class="form-control" placeholder="Code Catégorie" name="codeCat"
                   [(ngModel)]="categoryDto.code">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Description" name="descriptionCat"
                   [(ngModel)]="categoryDto.designation">
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-12 text-end px-5">
    <button class="btn btn-danger me-3" (click)="cancel()">
      <i class="fa-solid fa-ban"></i>&nbsp;
      Annuler
    </button>
    <button class="btn btn-primary" (click)="enregistrerCategory()">
      <i class="fa-solid fa-save"></i>&nbsp;
      Enregistrer
    </button>
  </div>

</div>

