<div class="col">

  <div class="row m-3">
    <div class="col-md-8 px-0">
      <h1>Commandes {{origin}}</h1>
    </div>
    <div class="col-md-4 text-end">
      <app-boutons-action
        (clickEvent)="nouvelleCommande()"
        [isImporterVisible]="false"
      ></app-boutons-action>
    </div>
  </div>

  <div class="col m-3">
    <div class="accordion accordion-flush" id="accordionExample">
      <div class="accordion-item mb-2">
        <div class="accordion-header" id="headingOne">
          <h2 class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
              aria-expanded="true" aria-controls="collapseOne">
          </h2>
          <app-detail-cmd-clt-frs></app-detail-cmd-clt-frs>
        </div>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
             data-bs-parent="#accordionExample" style="max-height: 200px; overflow-y: scroll">
          <div class="accordion-body">
            <app-detail-cmd></app-detail-cmd>
            <app-detail-cmd></app-detail-cmd>
            <app-detail-cmd></app-detail-cmd>
            <app-detail-cmd></app-detail-cmd>
            <app-detail-cmd></app-detail-cmd>
            <app-detail-cmd></app-detail-cmd>
          </div>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-md-6 text-start">
              <h5>12 articles commandés</h5>
            </div>
            <div class="col-md-6 text-end">
              <h5>Total commande : 123.45€</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row text-center mb-3">
    <app-pagination></app-pagination>
  </div>

</div>

