<div class="col">

  <div class="row m-3">
    <div class="col-md-8 px-0">
      <h1>Liste des clients</h1>
    </div>
    <div class="col-md-4 text-end">
      <app-boutons-action
        (clickEvent)="nouveauClient()"
      ></app-boutons-action>
    </div>
  </div>

  <div class="col m-3">
    <app-detail-clt-frs
    *ngFor="let client of listClient"
    [clientFournisseur]="client"
    [origin]="'client'"
    ></app-detail-clt-frs>
  </div>

  <div class="row text-center mb-3">
    <app-pagination></app-pagination>
  </div>

</div>

