<div class="row m-3">
  <div class="card col-md-4 text-center me-3">
    <div class="col">
      <div class="my-3">
        <img src="favicon.ico" class="rounded-circle" width="200px" height="200px">
      </div>
      <div class="mb-3">
        <h2>Nom Prénom</h2>
        <small class="form-text text-muted">Adresse, ville, 12345</small>
      </div>
      <div class="col mb-3">
        <button type="button" class="btn btn-primary me-3">
          <i class="fa-solid fa-pencil"></i>&nbsp;
          Modifier
        </button>
        <button type="button" class="btn btn-warning" (click)="modifierMotDePasse()">
          <i class="fa-solid fa-lock"></i>&nbsp;
          Changer mot de passe
        </button>
      </div>
    </div>
  </div>
  <div class="card col-md-7">
    <table class="table">
      <tbody>
      <tr>
        <th scope="row">Nom Complet</th>
        <td>nom prenom</td>
      </tr>
      <tr>
        <th scope="row">Email</th>
        <td>adresse@email.com</td>
      </tr>
      <tr>
        <th scope="row">Telephone</th>
        <td>0011 22 33 44 55</td>
      </tr>
      <tr>
        <th scope="row">Adresse</th>
        <td>Adresse, ville, code postal</td>
      </tr>
      <tr>
        <th scope="row">Entreprise</th>
        <td>Nom entreprise</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
