<div class="row mb-1 me-0 custom-border">
  <div class="col-md-1 border-right p-1 text-center my-1">
    <img src="favicon.ico" alt="r" width="100px" height="100px">
  </div>

  <!--  Details articles-->
  <div class="col-md-5 border-right my-1">
    <div class="col">
      <div class="row">
        <div class="col-md-1"><i class="fa-solid fa-circle-info blue-color"></i></div>
        <div class="col-md-11">Code article</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fa-solid fa-circle-info blue-color"></i></div>
        <div class="col-md-11">Designation</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fa-solid fa-dollar-sign blue-color"></i></div>
        <div class="col-md-11">Prix HT</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fa-solid fa-dollar-sign blue-color"></i></div>
        <div class="col-md-11">Prix TTC</div>
      </div>
    </div>
  </div>
  <!--  Details catégorie-->
  <div class="col-md-3 border-right my-1">
    <div class="row">
      <div class="col-md-2">
        <i class="fa-solid fa-flag-checkered blue-color"></i>
      </div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-12">Code catégorie</div>
          <div class="col-md-12">Description catégorie</div>
        </div>
      </div>
    </div>
  </div>

  <!--  Boutons action-->
  <div class="col-md-3 my-1">
    <div class="row">
      <div class="col-md-4">
        <button type="button" class="btn btn-link row">
          <i class="fa-solid fa-pencil"></i>
          Modifier
        </button>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-link row">
          <i class="fa-solid fa-trash"></i>
          Supprimer
        </button>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-link row">
          <i class="fa-solid fa-list"></i>
          Details
        </button>
      </div>
    </div>
  </div>
</div>
