.autocomplete {
  border: solid 1px #ced4da;
  margin-top: 5px;
  border-radius: 5px;
  max-height: 150px;
  overflow-y: scroll;
  > p {
    border-bottom: solid 1px #ced4da;
    cursor: pointer;
    &:hover {
      background-color: #ced4da;
    }
  }

  > p:last-child {
    border-bottom: none;
  }
}
