<div class="col mb-3">
  <div class="col-md-12 px-5">
    <div class="col-md-12 my-3">
      <h2>Nouvelle commande {{origin}}</h2>
    </div>
    <div class="row p-3 custom-border">
      <div class="col-md-5 border-right">
        <form>
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="Code commande">
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="Date commande">
          </div>
          <div class="mb-3">
            <select class="form-control">
              <option>Selectionner un client</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
            </select>
          </div>
        </form>
      </div>

      <div class="col-md-5 border-right">
        <div class="col">
          <div class="row">
            <div class="col-md-1"><i class="fa-solid fa-circle-info blue-color"></i></div>
            <div class="col-md-11">Nom</div>
          </div>
          <div class="row">
            <div class="col-md-1"><i class="fa-solid fa-circle-info blue-color"></i></div>
            <div class="col-md-11">Prénom</div>
          </div>
          <div class="row">
            <div class="col-md-1"><i class="fa-solid fa-phone blue-color"></i></div>
            <div class="col-md-11">0011 22 33 44 55</div>
          </div>
          <div class="row">
            <div class="col-md-1"><i class="fa-solid fa-hourglass-half blue-color"></i></div>
            <div class="col-md-11">EN PREPARATION</div>
          </div>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <img src="favicon.ico" class="rounded-circle" width="160px" height="160px">
      </div>
    </div>
    <div class="row mt-2 p-3 custom-border">
      <form>
        <div class="row">
          <div class="col">
            <input type="text" class="form-control" placeholder="Code Article">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Quantité">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Prix unitaire">
          </div>
          <div class="col">
            <button type="button" class="btn btn-success"><i class="fa-solid fa-plus"></i></button>
          </div>
        </div>
      </form>
    </div>
    <div class="row mt-2 p-3 custom-border" style="max-height: 300px; overflow-y: scroll;">
      <app-detail-cmd></app-detail-cmd>
      <app-detail-cmd></app-detail-cmd>
      <app-detail-cmd></app-detail-cmd>
      <app-detail-cmd></app-detail-cmd>
      <app-detail-cmd></app-detail-cmd>
      <app-detail-cmd></app-detail-cmd>
      <app-detail-cmd></app-detail-cmd>
      <app-detail-cmd></app-detail-cmd>
      <app-detail-cmd></app-detail-cmd>
    </div>
    <div class="row mt-2 p-3 custom-border text-end">
      <h3>Total de la commande : 135.9€</h3>
    </div>
  </div>
  <div class="col-md-12 text-end px-5 mt-2">
    <button class="btn btn-danger me-3">
      <i class="fa-solid fa-ban"></i>&nbsp;
      Annuler
    </button>
    <button class="btn btn-primary">
      <i class="fa-solid fa-save"></i>&nbsp;
      Enregistrer
    </button>
  </div>

</div>

